body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background-color: #110c11;
    list-style-type: none;
}

.navbar li {
    height: 100%;
    margin: 5px 20px 7px 0px;
    padding: 5px;
    color: white;
    font-size: 26px;
    transition: 0.3s;
    cursor: pointer;
}

.navbar li:hover {
    background-color: #00FF96;
    color: black;
    box-shadow: 1px 1px white,
                2px 2px white,
                3px 3px white;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

#title {
    margin-right: auto;
    font-size: 52px;
}

#landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crest-container {
    width: 50%;
}

.monk-crest {
    max-width: 100%;
    height: auto;
    /* vertical-align: top; */
}

.intro-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    text-align: center;
    font-size: 90px;
}

.intro-container p {
    margin: 0;
    padding: 0;
}

.question {
    font-size: 30px;
}

.heal {
    color: #00A862;
    text-decoration: underline;
}

.run-key-container {
    display: flex;
    justify-content: center;
}

.run-key {
    margin: 25px auto 0px auto;
    background-color: #00FF96;
    font-size: 32px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}